*{
    padding:0;
    margin:0;
    list-style-type: none;
    text-decoration:none;
}

header{
   width:100%;
   padding:0.2rem;
   background:#eaedea;
 
   
}
.app-heading{
    color:black;
    font-family:"Gupter",sans-serif;
    font-size:30px;
    letter-spacing:1px;
    text-align:center;
}
#toggle-container{
   
    width: 100px;
    height: 30px;
    border-radius:50px;
    background-color:black;
    padding:0.4rem;

}
#toggle{
    width:20px;
    height:20px;
    margin-right:20px;
    border-radius:50%;
    margin-top:10px;
   

}


/*------main-container----*/

.main-container{
    width:100%;
    padding:0.5rem;
    display:flex;
    gap:2rem;

}
.main-container[data-theme="light"] {
    background-color: white;
 
}
.main-container[data-theme="dark"] {
    background-color: black;
    
}

#all-songs{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 25%;
}
#filter-heading{
    font-family:"Gupter",sans-serif;

}
#filter-box{
    margin:10px;
    padding:0.5rem;
}
.songs-heading{
    font-family:"Gupter",sans-serif;
    text-align:center;
    margin:3px;
}

/*----song card---*/

#song-card{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 35%;
}
#playlist-container{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 30%;
}


#current-playlist #current-heading{
     text-align:center;
     font-family: "Gupter",sans-serif;
     letter-spacing: 1px;
}
#new-playlist{
    margin-top:60px;

}
#new-playlist #new-heading{
    text-align:center;
    font-family: "Gupter",sans-serif;
    letter-spacing: 1px;
}
#playlist-value{
    padding:0.5rem;

}
#add-palylist{
    width:130px;
    border:none;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left:3px;
    background:#9e7bce;
    padding:0.5rem;
    color:white;
    font-family: "Gupter",sans-serif;
    font-size:16px;

}